@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
:root {
  --r-bg: #1d1d1d;
  --l-bg: #181818;
  --l-card-bg: #000000;
  --links-color: #8b8a89;
  --color: #fff;
}

.LeftCard {
  background-color: var(--l-card-bg);
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  flex-direction: column;
}
h1 {
  font-family: "Squada One", cursive;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color);
}
p {
  /* font-family: Strong; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color);
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
.Links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: var(--links-color); */
  margin-bottom: 20px;
}
.Links ul li {
  user-select: none;
  width: 100%;
  text-align: center;
  /* border-bottom: var(--links-color) 1px solid; */
}
.Links ul li a {
  padding: 20px;
  display: block;
  color: var(--links-color);
  /* border-bottom: 0.2px solid var(--links-color); */
}

.Links ul li a:hover {
  background-color: var(--links-color);
  color: var(--color);
  cursor: pointer; /* cursor: pointer; */
}
.abcd li a {
  color: var(--color);
}
.abcd li a:hover {
  color: var(--links-color);
  /* color: var(--color); */
  cursor: pointer; /* cursor: pointer; */
}
.abcd li a {
  /* background-color: #8b8a89 ; */
  padding: 10px;
}
