:root {
  --r-bg: #1d1d1d;
  --l-bg: #181818;
  --primart-text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeftBar {
  width: 10%;
  /* padding: 10px; */
  min-height: 100vh;

  background-color: var(--l-bg);
}

.RightBar {
  width: 90%;
  padding: 10px;
  min-height: 100vh;
  background-color: var(--r-bg);
}

@media (max-width: 940px) {
  .LeftBar {
    width: 20%;
  }
  .RightBar {
    width: 80%;
  }
}
