:root {
  --r-bg: #1d1d1d;
  --l-bg: #181818;
  --primart-text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
